/* styles.css */
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #6D0808;
    color: #EEEAD7;
}

#content {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

nav button {
    width: 5rem;
    height: 2rem;
    background-color: #BC3908;
    color: #EEEAD7;
    border: 1px solid black;
}

.header,
.blurb,
.hours-container,
.menu,
.contact {
    border: 3px solid #2D0000;
    background-color: #BC3908;
    border-radius: 8px;
    margin: 2rem;
    padding: 1rem;
}

.menu-section {
    font-size: 2rem;
    padding: 1rem;
}

.menu-item {
    font-size: 1rem;
}

.menu-item:first-child {
    margin-top: 1rem;
}

.contact-name {
    font-size: 2rem;
}

.contact-position,
.contact-phone,
.contact-email {
    font-size: 1rem;
}

.contact-position {
    margin-top: 1rem;
}